__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

.env

.vscode/
.idea/

.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist/
build/
.out/
.next/
coverage/

# TypeScript
*.tsbuildinfo
